.root {
    padding: 10px 0px 10px 0px;
}
.message-wrapper-others {
    text-align: start;
    max-width: 40vw;
}
.message-wrapper-own {
    text-align: end;
    max-width: 40vw;
}
.createdBy {
    font-size: 13px;
    color: #696969;
    text-align: start;
}
.content {
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    max-height: 30vh;
    overflow-y: auto;
    overflow-wrap: break-word;
    color: #000000;
    text-align: start;
}